* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: #aaa;
}

body {
  background-color: #d3cece;
  user-select: none;
}

main {
  max-width: 480px;
  margin: 0 auto;
  font-size: 14px;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  background-color: #fff;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #f6f6f6;
}

.fa-sync-alt {
  cursor: pointer;
}

#input-task {
  border: none;
  padding: 10px;
  border-bottom: 2px solid #f6f6f6;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #f6f6f6;
  background-color: #fff;
}

.task-label {
  display: flex;
  align-items: center;
  width: 90%;
}

.fa-ellipsis-v {
  cursor: cell;
}

.fa-trash-alt {
  cursor: pointer;
}

.marked {
  text-decoration: line-through;
}

.task-description {
  margin-left: 10px;
  font-size: 20px;
  border: none;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
  font-size: 20px;
}

.clear-completed {
  padding: 10px;
  display: flex;
  background-color: #f6f6f6;
  justify-content: center;
}

#clear-tasks {
  border: none;
  font-size: 16px;
}

#clear-tasks:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.dragging {
  opacity: 0.5;
}
